.navbar {
  position: fixed;
  top: 0;
  background-color: #333;
  text-align: center;
  overflow: hidden;
  width: 110%;
  margin-left: -10px;
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}
