#Capital {
    display: grid;
    grid-template-columns: 1fr 4fr;
    justify-content: center;
    text-justify: inter-word;
    text-align: justify;
    position: inherit;
    color: #22223b;
}

.capital-list {
    text-align: left;
    background-color: #f2e9e4;
    padding-top: 70px;
    padding-bottom: 70px;
    padding-right: 15px;
    margin-bottom: -10px;
    min-height: 100vh;
    width: 20vw;
    margin: 0;
    margin-left: -20px;
}

ul {
    list-style-type: none;
}

.capital-div {
    background-color: #f2e9e4;
}

li {
    padding-bottom: 10px;
}

.capital-list a:link, ul a:visited {
    text-decoration: none;
    color: #22223b;
}

button a:link {
    text-decoration: none;
    color: #22223b;
}

.capital-img {
    width: 80vw;
    height: 350px;
    object-fit: cover;
    margin-top: -25px;
    position: absolute;
    z-index: -5;
    filter: brightness(50%);
}

.white-text {
    color: white;
    padding-bottom: 10px;
    height: 275px;
}

.capital-name {
    margin-top: 70px;
    font-size: 125px;
    position: flex;
}

.capital-country {
    font-size: 50px;
    position: flex;
    margin-top: 10px;
}

.note {
    font-size: small;
    margin: 20px;
    font-style: italic;
}

.main-capital {
    padding-left: 20px;
    padding-right: 20px;
    width: 80vw;
}

.basics { 
    text-align: center;
    border-radius: 1rem;
    box-shadow: 1px 5px 8px #c9ada7;
    background-color: #f2e9e4;
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    width: 15rem;
    height: fit-content;
    padding: 5px;
    position: static;
}

.basics-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    column-gap: 30px;
    row-gap: 10px;
    justify-content: 60%;
    justify-content: center;
    margin-bottom: 20px;
}

.go-back {
    margin: 20px;
    text-align: center;
    width: fit-content;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    background-color: #9a8c98;
    text-decoration: none;
    color: white;
}

.go-back a:visited {
    color: white;
}

.important-message {
    color: red;
}

h3, h4 {
    margin: 35px auto 20px auto;
    text-align: left;
}

.description-text {
    margin: auto auto 35px auto;
}

.comment {
    margin: 10px auto 10px -40px;
    border-radius: 1rem;
    border: 1px solid #22223b;
    box-shadow: 0px 10px 8px #4a4e69;
    display: flex;
    flex-direction: column;
    background-color: white;
    height: fit-content;
    justify-content: center;
}

.comments {
    margin: 20px 20px auto 20px;
}

.comments h4 {
    font-size: larger;
}

.comments h5 {
    font-size: large;
}

.comment-text {
    margin: 10px 20px;
}

.prices-table {
    border-collapse: collapse;
    box-shadow: 0px 10px 8px #4a4e69;
}

.prices-table th, td {
    border: 1px solid #22223b;
    border-radius: 1rem;
    padding: 5px;
    text-align: center;
}