.main {
    padding: 70px 20px;
    text-align: justify;
    text-justify: inter-word;
    color: #22223b;
}

h3 {
    font-weight: 700;
}

.end {
    margin: 30px 20px;
    font-weight: 700;
}

.text, .title-1, .title-2, .link {
    margin: 10px 20px;
}

.title-1 {
    font-size: 70px;
    text-align: center;
}

.title-2 {
    font-size: 30px;
    text-align: center;
}

.link{
    margin: 20px;
    text-align: center;
    width: fit-content;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    background-color: #9a8c98;
    text-decoration: none;
    color: white;
}

.link:visited{
    color: white;
}