#AddPost {
    margin-top: 70px;
    margin-bottom: 70px;
    text-align: justify;
    text-justify: inter-word;
    box-sizing: border-box;
    margin-right: 10px;
    margin-left: 10px;
    min-height: 80vh;
    box-sizing: border-box;
}

.title-input, .description-input {
    display: block;
    width: 100%;
    font-family: Verdana, sans-serif;
    font-weight: 100;
    text-align: left;
}

.title-tag, .description-tag, .submit, .local, .user {
    margin-top: 15px;
}

select, .checkbox, .username {
    margin-left: 10px;
}
