#AddPost {
    margin-top: 70px;
    text-align: justify;
    text-justify: inter-word;
    box-sizing: border-box;
    margin-right: 5px;
    margin-left: 5px;
}

input, textarea {
    display: block;
    width: 100%;
    font-family: Verdana, sans-serif;
    margin-top: 5px;
    font-weight: 100;
    text-align: left;
}
