#Capital {
    display: grid;
    grid-template-columns: 1fr 4fr;
    row-gap: 20px;
    justify-content: center;
    text-justify: inter-word;
    text-align: justify;
}

ul {
    list-style-type: none;
    text-align: left;
    background-color: bisque;
    padding-top: 70px;
    padding-right: 15px;
    padding-left: -10px;
    /* width: 20vw; */
}

ul a:link, ul a:visited {
    text-decoration: none;
    color: black;
}

button a:link {
    text-decoration: none;
    color: black;
}

.capital-img {
    width: 80vw;
    height: 350px;
    object-fit: cover;
    margin-top: -25px;
    position: absolute;
    z-index: -5;
    /* margin-left: -50px; */
    filter: brightness(50%);
    margin-right: 0;
    padding-right: 0;
    border-right: 0;
}

.white-text {
    color: white;
}

.capital-name {
    margin-top: 70px;
    font-size: 100px;
    margin-bottom: -20px;
}

.capital-country {
    font-size: 50px;
}