#Capital {
    display: grid;
    grid-template-columns: 1fr 4fr;
    justify-content: center;
    text-justify: inter-word;
    text-align: justify;
}

.capital-list {
    list-style-type: none;
    text-align: left;
    background-color: bisque;
    padding-top: 70px;
    padding-bottom: 70px;
    padding-right: 15px;
    /* margin-left: -10px; */
    margin-bottom: -10px;
    min-height: 100vh;
    width: 20vw;
}

li {
    padding-bottom: 10px;
}

.capital-list a:link, ul a:visited {
    text-decoration: none;
    color: black;
}

button a:link {
    text-decoration: none;
    color: black;
}

.capital-img {
    width: 80vw;
    height: 350px;
    object-fit: cover;
    margin-top: -25px;
    position: absolute;
    z-index: -5;
    /* margin-left: -50px; */
    filter: brightness(50%);
}

.white-text {
    color: white;
    padding-bottom: 10px;
}

.capital-name {
    margin-top: 70px;
    font-size: 100px; /* change font size */
    margin-bottom: -20px;
}

.capital-country {
    font-size: 50px;
}

i {
    padding-bottom: 70px;
    font-size: small;
}

.main-capital {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 80vw;
}

.basics { 
    text-align: center;
    border-radius: 1rem;
    box-shadow: 1px 5px 8px #999;
    background-color: bisque;
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    width: 15rem;
    height: fit-content;
    padding: 5px;
}

.basics-grid {
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    column-gap: 30px;
    row-gap: 30px;
    justify-content: 60%;
}

.go-back {
    margin: 20px;
}

.comments {
    margin: 20px;
}