.main {
    padding: 70px 20px;
    text-align: justify;
    text-justify: inter-word;
}

h3 {
    font-weight: 700;
}

.end {
    font-weight: 700;
}

.text, .title, .end, .link {
    padding: 10px 20px;
}
